{% extends 'adminbase.html' %}
{% load static %}
{% block content %}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">

        <div class="col-sm-12 col-xl-9">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Hoverable Table</h6>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Title</th>
                            <th scope="col">Discount price</th>
                            <th scope="col">Category</th>
                            <th scope="col">Product image</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>

                    {% for pdisplay in Product %}
                    <tbody>
                        <tr>
                            <th scope="row">{{pdisplay.id}}</th>
                            <td>{{pdisplay.title}}</td>
                            <td>{{pdisplay.discounted_price}}</td>
                            <td>{{pdisplay.category}}</td>
                            <td><img src="{{pdisplay.product_image.url}}" style="width: 50px;" class="prod-size"></td>
                            <td><a href="{% url 'pedit' pdisplay.id %}" style="text-decoration: none;">Edit</a></td>
                            <td><a href="{% url 'pdelete' pdisplay.id%}" style="text-decoration: none;"
                                    onclick="return confirm('Confirm delete.?')">Delete</a></td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
            <a href="{% url 'pinsert'%}" style="text-decoration: none;">Add Products</a>
        </div>


    </div>
</div>


{% endblock %}