{% extends "base.html" %}
{% load static %}

{% block information %}

<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto my-5 p-4" style="background-color:darkgrey; border-radius: 8px;">
            <form action="" method="POST">
                {% csrf_token %}
                <h1>Get your password</h1>
                <hr>
                {% if message %}
                    <div class="alert {{col}}">{{message}}</div>
                {% endif %}
                <div class="form-group">
                    <label>Current password</label>
                    <input type="password" class="form-control" name="Current_password" required>
                </div>
                <div class="form-group">
                    <label>New password</label>
                    <input type="password" class="form-control" id="password" required name="New_password" onkeyup="check_password()">
                    <small></small>
                </div>
                <div class="form-group">
                    <label>Confirm password</label>
                    <input type="password" class="form-control" id="confirm_password" required onkeyup="check_password()">
                    <small></small>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-warning" id="sbtn" value="Change password" style="margin-top: 20px; margin-left: 130px;">
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function check_password(){
        let password = $("#password").val();
        let confirm_password = $("#confirm_password").val();

        if (password==confirm_password){
            $("#password").css("border","1px solid green");
            $("#confirm_password").css("border","1px solid green");
            // $("#password").addClass("alert alert-success");
            // $("#confirm_password").addClass("alert alert-success");
            $("#sbtn").removeAttr("disabled");
        }
        else{
            $("#password").css("border","1px solid red");
            $("#confirm_password").css("border","1px solid red");
            // $("#password").addClass("alert alert-danger");
            // $("#confirm_password").addClass("alert alert-danger");
            $("#sbtn").removeAttr("disabled");
        }

    }
</script>

{% endblock information %}

